*************************************************
*                                               *
* DRILL TAPE SUMMARY REPORT                     *
*                                               *
* F:\ROHITH\ORCAD SCHEMATICS\GERBER\LAYOUT.MAX  *
* Sat Nov 22 13:34:27 2014                      *
*                                               *
*************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       276      3        200      100                                                                                 
T2       433      29       200      100                                                                                 
T3       1181     2        200      100                                                                                 
